{extend name="public/main" /}
{block name="title"}角色列表 - 管理后台{/block}
{block name="content-title"}角色列表{/block}
{block name="content"}
    <ul id="myTab" class="nav nav-tabs bar_tabs">
        <li class="active">
            <a href="{:url('admin/role/index')}">角色列表</a>
        </li>
        <li>
            <a href="{:url('admin/role/create')}">添加角色</a>
        </li>
    </ul>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th width="5%">id</th>
            <th>名称</th>
            <th>状态</th>
            <th width="15%">创建日期</th>
            <th width="10%">操作</th>
        </tr>
        {volist name="roles" id="role"}
        <tr>
            <td>{$role->id}</td>
            <td>{$role->name}</td>
            <td>{$role->status_text}</td>
            <td>{$role->create_time}</td>
            <td>
                <a href="{:url('admin/role/edit',array('id' => $role->id))}">修改</a>
                <a class="del-item" href="javascript:;"  data-id='{$role->id}'>删除</a>
            </td>
        </tr>
        {/volist}
    </table>    
    {$roles|raw}
{/block}
{block name="script"}
<script type="text/javascript">
    $('.del-item').click(function(){
        if(confirm('删除?')){
            $.ajax({
                url: "{:url('admin/role/delete')}",
                data: {id:$(this).data('id')},
                method: 'post',
                dateType: 'json',
                success: function(res){
                    if(res.status == 0){
                        toastr.success(res.message)
                        setTimeout(function(){
                            location.reload();
                        }, 2000);
                    }else{
                        toastr.error(res.message)
                    }
                }
            });
        }
    })
</script>
{/block}